* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	font: inherit;
}

.two-column-with-wrap {
  display: flex;
  width: 100%;
  flex-direction: row;
}

section {
	display: flex; 
	flex-direction: column; 
	align-items: center;
	gap: 3rem;
}

.heading {
	font-family: 'Tagesschrift', system-ui; 
	font-size: x-large;
}

p {
	text-align: center;
}

.emphasis-block {
	background-color: hsl(26, 39.5%, 55.3%);
	border-radius: 5px;
	text-align: center;
	padding: .7rem;
	color: white;
	font-size: medium;
	margin: 0;
}

.summary-box {
	border: 3px solid hsl(26, 39.5%, 55.3%);
	padding: 10px;
	border-radius: 5px;
}


p {
	margin: 0
}

.flex-item {
	flex-basis: 23rem; 
	flex-grow: 1; 
	display: flex; 
	flex-direction: column; 
	align-items: center;
	gap: 1rem; 
	/* border-radius: 5px; */
	/* background-color: hsla(26, 39.5%, 55.3%, 0.1); */
	padding: 1rem;
	text-align: center;
}

@media only screen and (max-width: 40rem) {
	.two-column-with-wrap {
		flex-direction: column;
	}
}
